
<div class="grid-container" [ngStyle]="{'background-color': pokemonMove?.type?.getColor()}" >
    <div>
      <p [ngStyle]="{'color': pokemonMove?.type?.getColorBorder()}">name: {{pokemonMove?.name}}</p>
    </div>
    <div>
      <p [ngStyle]="{'color': pokemonMove?.type?.getColorBorder()}">pow: {{pokemonMove?.power}}</p>
    </div>
    <div>
      <p [ngStyle]="{'color': pokemonMove?.type?.getColorBorder()}">aac: {{pokemonMove?.accuracy}}</p>
    </div>
    <div>
      <p [ngStyle]="{'color': pokemonMove?.type?.getColorBorder()}">pp: {{pokemonMove?.pp}}</p>
    </div>
</div>


