<div class="container-fluid">
  <h3>Selectionner vos pokemons</h3>
  <form [formGroup]="pokemonForm" (ngSubmit)="onSubmitForm()">

    <div class="col-6">
      <label for="idGeneration">Select Generation</label>
      <select id="idGeneration" class="form-control" formControlName="idGeneration" #e (change)="selectGeneration(e.value)">
        <option *ngFor="let generation of generationList;" value="{{generation}}">{{generation}}</option>
      </select>
    </div>

    <div class="row hidden-md-down">
      <div class="col-6">
        <label for="idPokemon1">First pokemon</label>
        <select id="idPokemon1" class="form-control" formControlName="idPokemon1" #t (change)="callType1(t.value)">
          <option *ngFor="let pokemon of createdPokeList;" value="{{pokemon.name}}">{{pokemon.name}}</option>
          <option *ngFor="let pokemon of pokeList;" value="{{pokemon.name}}">{{pokemon.name}}</option>
        </select>
        <img *ngIf="poke1" src="{{poke1.imgLink}}" alt="{{poke1.imgLink}}" width="250" height="350">
      </div>

      <div class="col-6">
        <label for="idPokemon2">Second pokemon</label>
        <select id="idPokemon2" class="form-control" formControlName="idPokemon2" #d (change)="callType2(d.value)">
          <option *ngFor="let pokemon of createdPokeList;" value="{{pokemon.name}}">{{pokemon.name}}</option>
          <option *ngFor="let pokemon of pokeList;" value="{{pokemon.name}}">{{pokemon.name}}</option>
        </select>
        <img *ngIf="poke2" src="{{poke2.imgLink}}" alt="{{poke2.imgLink}}" width="250" height="350">
      </div>

      <div class="col-6">
        <button type="button" class="btn btn-primary" (click)="onCreatePokemon1()">Create Pokemon</button>
        <app-pokemon-create *ngIf="pokemonCreator1 && generation" [generation]="generation"></app-pokemon-create>
      </div>

      <div class="col-6">
        <button type="button" class="btn btn-primary" (click)="onCreatePokemon1()">Create Pokemon</button>
      </div>

    </div>
    <div class="row align-items-start ">
      <button type="submit" class="align-self-center" [disabled]="pokemonForm.invalid" >
<!--        Start Fight-->
        <img src="assets/smash_fire_logo.png" alt="smash_fire_logo" width="100" height="100">
      </button>
    </div>

  </form>
</div>
