<div class="col">

  <form  *ngIf="statForm && stat" [formGroup]="statForm">
    <div class="row">
        <label>HP : </label>
        <input type="number" min="{{min}}" max="{{max}}" id="hp" class="form-control" formControlName="hp">
    </div>

    <div class="row">
      <label>Attack : </label>
      <input type="number" min="{{min}}" max="{{max}}" id="attack" class="form-control" formControlName="attack">
    </div>

    <div class="row">
      <label>Defense : </label>
      <input type="number" min="{{min}}" max="{{max}}" id="defense" class="form-control" formControlName="defense">
    </div>

    <div class="row">
      <label>Speed : </label>
      <input type="number" min="{{min}}" max="{{max}}" id="speed" class="form-control" formControlName="speed">
    </div>

    <div class="row">
      <label>Spe Attack : </label>
      <input type="number" min="{{min}}" max="{{max}}" id="speAttack" class="form-control" formControlName="speAttack">
    </div>

    <div class="row">
      <label>Spe Defense : </label>
      <input type="number" min="{{min}}" max="{{max}}" id="speDefense" class="form-control" formControlName="speDefense">
    </div>
  </form>

</div>
