<div class="col">

  <form  *ngIf="statForm && stat" [formGroup]="statForm">
    <div class="row">
        <label>HP : {{this.stat.hp}}</label>
        <input type="range" min="{{min}}" max="{{max}}" step="{{step}}" id="hp" class="form-control" formControlName="hp">
    </div>

    <div class="row">
      <label>Attack : {{this.stat.attack}}</label>
      <input type="range" min="{{min}}" max="{{max}}" step="{{step}}" id="attack" class="form-control" formControlName="attack">
    </div>

    <div class="row">
      <label>Defense : {{this.stat.defense}}</label>
      <input type="range" min="{{min}}" max="{{max}}" step="{{step}}" id="defense" class="form-control" formControlName="defense">
    </div>

    <div class="row">
      <label>Speed : {{this.stat.speed}}</label>
      <input type="range" min="{{min}}" max="{{max}}" step="{{step}}" id="speed" class="form-control" formControlName="speed">
    </div>

    <div class="row">
      <label>Spe Attack : {{this.stat.speAttack}}</label>
      <input type="range" min="{{min}}" max="{{max}}" step="{{step}}" id="speAttack" class="form-control" formControlName="speAttack">
    </div>

    <div class="row">
      <label>Spe Defense : {{this.stat.speDefense}}</label>
      <input type="range" min="{{min}}" max="{{max}}" step="{{step}}" id="speDefense" class="form-control" formControlName="speDefense">
    </div>
  </form>

</div>
